<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "SignUpService" class="SignUpService">
        <constructor-arg name="blackList" ref="BlackList"/>
    </bean>
    <bean id = "BlackList" class="BlackListJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="hikari"/>
    </bean>

    <bean id = "hikari" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="config"/>
    </bean>

    <bean id = "config" class="com.zaxxer.hikari.HikariConfig">
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/JavaLab_spring"/>
        <property name="username" value="postgres"/>
        <property name="password" value="Instakonko112"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="maximumPoolSize" value="20"/>
    </bean>

</beans>